<div class="login-section-container">
  <div class="login-section-left">
      <div class="login-section-left-logo">
          <img src="assets/images/hospital-logo.jpg" width="185"/>
      </div>
      <div class="login-section-left-form">
          <div class="login-section-left-text">
              <h3>Hello !</h3>
              <h1>Welcome to <span class="font-weight-600">VIDA</span></h1>
          </div>
          <form>
              <div class="form-group">
                  <label>User Name</label>
                  <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="text" class="form-control" type="password" />
              </div>
              <div class="form-row">
                  <div class="form-group col-sm-6">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck">
                          <label class="form-check-label" for="gridCheck">
                              Remember Me
                          </label>
                      </div>
                  </div>   
                  <div class="form-group col-sm-6 text-right forgot-pw-link">
                      <a href="">Forgot Password</a>
                  </div> 
              </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-lg login-btn">Login</button>
              </div>
          </form>
      </div>
      <div class="login-section-left-footer">
          <div class="row">
              <div class="col-sm-6">
                  <p class="mb-0"><small>All Rights Reserved. Cloud Solutions Sa</small></p>
                  <p class="mb-0"><small>Version 1.0 <a href="">View Change Log</a></small></p>
              </div>
              <div class="col-md-6 text-right">
                  <a href=""><small>Report a Problem</small></a>
              </div>
          </div>
      </div>
  </div>
  <div class="login-section-right" style="background-image: url(assets/images/hospital-bg.jpg)">
      <div class="login-section-right-gradient"></div>
      <div class="login-section-right-main-text">
          <h3>Revolutionizing</h3>
          <h1>Health Care</h1>
          <h6>Global solutions to healthcare organizations in the Gulf and Middle East Countries</h6>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
