/* You can add global styles to this file, and also import other style files */
$primary-color : #067c57;
$secondary-color : #a48f62;
$font-color : #3b444f;
$primary-btn-color :#288ad6;

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: $font-color;
}
.form-group{
    label{
        font-size: 0.8rem;
    }
}
.btn-primary{
    &.login-btn{
        background-color: $primary-btn-color;
        font-size: 0.8rem;
        padding: 15px 45px;
        font-weight: 600;
    }
    
}
.login-section-container{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.login-section-container{
    width: 100%;
    height: 100vh;
}
.login-section-left,.login-section-right{
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.login-section-right{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.login-section-right-gradient{
    height: 100%;
    background: linear-gradient(
    to top,
    $primary-color,
    rgba(255, 0, 0, 0)
  )
}
.login-section-right-main-text{
    position: absolute;
    bottom: 10%;
    padding:5%;
    h1, h3, h6{
        color: #fff;
    }
    h3{
        font-size: 2.2rem;
        margin-bottom: 1rem;
        font-weight: 100;
    }
    h1{
        font-size: 4rem;
        margin-bottom: 0rem;
        margin-top: 0rem;
        line-height: 3rem;
        font-weight: bold;
    }
    h6{
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: normal;
        margin-top: 1rem;
    }
}
.login-section-left-form{
    padding: 20% 25%;
}

.font-weight-600{
    font-weight: 600;
}
.login-section-left-text h1,.login-section-left-text h3{
    font-weight: 400;
}
.login-section-left-footer{
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 15px;
    a{
        color: $secondary-color;
        text-decoration: underline;
    }
}
.forgot-pw-link{
    a{
        font-size: 0.8rem;
        text-decoration: underline;
        font-weight: 600;
        color: $font-color;
    }
}

.form-control{
    border-color: #dbe6ec;
    background-color: #fcfdfd;
    height: 45px;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .login-section-left-form {
        padding: 20% 10%;
    }    
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .login-section-left-form {
        padding: 5% 5%;
        background: #fff;
    }
    .login-section-left, .login-section-right{
        position: absolute;
        width: 100%;
    }
    .login-section-left{
        z-index: 1;
    }
    .login-section-left-logo{
        background-color: #fff;
    }
    
}
